services:
  app:
    build:
      context: .
      args:
        - DATABASE_URL=${DATABASE_URL} 
    ports:
      - '3000:3000'
    env_file:
      - .env
    depends_on:
      - db
  
  db:
    image: postgres
    restart: always
    env_file:
      - .env
    ports:
      - '5432:5432'
    volumes:
      - postgres_data:/var/lib/postgresql/data
  
volumes:
  postgres_data: